<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://www.laboratorioaberto.com.br/xmlrpc.php">
  
  <title>Sistema | Laboratório Aberto de Brasília - LAB</title>

<!-- This site is optimized with the Yoast SEO plugin v12.2 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="http://www.laboratorioaberto.com.br/" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Sistema | Laboratório Aberto de Brasília - LAB" />
<meta property="og:description" content="O Laboratório Aberto de Brasília – LAB é um ambiente de colaboração para a prototipação de novos produtos, serviços e negócios dentro da Universidade de Brasília – UnB.  Um dos papéis do LAB dentro da Universidade de Brasília é disponibilizar espaço com ferramentas e monitoramento com a finalidade de desenvolver o primeiro protótipo. Aqui, os alunos e professores &hellip;" />
<meta property="og:url" content="http://www.laboratorioaberto.com.br/" />
<meta property="og:site_name" content="Laboratório Aberto de Brasília - LAB" />
<meta property="og:image" content="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/12/teste3.png" />
<meta property="og:image:width" content="1346" />
<meta property="og:image:height" content="350" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="O Laboratório Aberto de Brasília – LAB é um ambiente de colaboração para a prototipação de novos produtos, serviços e negócios dentro da Universidade de Brasília – UnB.  Um dos papéis do LAB dentro da Universidade de Brasília é disponibilizar espaço com ferramentas e monitoramento com a finalidade de desenvolver o primeiro protótipo. Aqui, os alunos e professores [&hellip;]" />
<meta name="twitter:title" content="Sistema | Laboratório Aberto de Brasília - LAB" />
<meta name="twitter:image" content="http://www.engenhariadeproduto.com.br/wp-content/uploads/2018/11/004-768x512.jpg" />
<link rel="icon" href="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/11/cropped-icon-32x32.png" sizes="32x32">

<link rel="icon" href="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/11/cropped-icon-192x192.png" sizes="192x192">

<link rel="apple-touch-icon-precomposed" href="http://www.laboratorioaberto.com.br/wp-content/uploads/2018/11/cropped-icon-180x180.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/CSS/util.css">
  <link rel="stylesheet" type="text/css" href="https://lababerto.s3-sa-east-1.amazonaws.com/Cadastro/main.css">
  <link rel="stylesheet" type="text/css" href="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Sign_In/Assets/CSS/icon-font.min.css">
<!--===============================================================================================-->
</head>
<style>

.error, .error_notification{
  color:red !important;
}
</style>

<body style="background-color: #656565;">
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">



      <%=yield%>

        <div class="login100-more" style="background-image: url('https://lababerto.s3-sa-east-1.amazonaws.com/Cadastro/galera.jpg')">
          <div class="pos-a centerXY" style='position: absolute; top:50%;left:50%;transform: translate(-50%,-50%)'>
            <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px; background-color:white;border-radius:50%;position:relative">

              <img class="pos-a centerXY" data-cfsrc="assets/static/images/logo.png" alt="" src="https://lababerto.s3-sa-east-1.amazonaws.com/Cadastro/logo.png" style='width:80px;position:absolute; top:50%;left:50%;transform: translate(-50%,-50%)'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  
  
<!--===============================================================================================-->
  <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery-2.2.4.min.js"></script>

  <script src="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/js/main2.js"></script>

  <script>
    $( document ).ready(function() {
        $('input').each(function(){
          if(($(this).val() != "")&&($(this).val() != null)){
            $(this).addClass("has-val");
          }
        });
    });

  </script>

<!--===============================================================================================-->

</body>
</html>